.header__logo {
    max-width: 142px;
}

@media (max-width: 900px) {
    .header__logo {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 768px) {
    .header__logo {
        margin: 0;
    }
}


@media (max-width: 425px) {
    .header__logo {
        max-width: 103.24px;
        margin: 0 0 0 71.5px;
    }
}

@media (max-width: 320px) {
    .header__logo {
        max-width: 103.24px;
        margin: 0 0 0 27px;
    }
}
