.popup__form_input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin: 0 36px 30px 36px;
    padding: 0;
    width: 358px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 425px) {
    .popup__form_input {
        width: 238px;
        margin: 0 22px 30px 22px;
    }
}

